name: Injective list - Deploy UI

on:
  workflow_dispatch:

jobs:
  deploy:
    name: "Trigger deployments"
    runs-on: blacksmith-8vcpu-ubuntu-2204
    timeout-minutes: 10
    env:
      SKIP_DEPLOYMENTS: ${{ secrets.SKIP_DEPLOYMENTS }}

    steps:
      - name: Sleep for 60s
        if: ${{ env.SKIP_DEPLOYMENTS != 'true' }}
        uses: juliangruber/sleep-action@v2.0.0
        with:
          time: 60s

      - name: Deploy mito
        if: ${{ env.SKIP_DEPLOYMENTS != 'true' }}
        uses: benc-uk/workflow-dispatch@v1.2.2
        with:
          workflow: mainnet.yml
          ref: master
          repo: mitoFinance/mito-ui
          token: "${{ secrets.MITO_GH_TOKEN }}"

      - name: Deploy bridge (mainnet)
        if: ${{ env.SKIP_DEPLOYMENTS != 'true' }}
        uses: benc-uk/workflow-dispatch@v1.2.2
        with:
          workflow: mainnet.yml
          ref: master
          repo: injectiveLabs/injective-bridge
          token: "${{ secrets.BRIDGE_GH_TOKEN }}"

      - name: Rebuild helix
        if: ${{ env.SKIP_DEPLOYMENTS != 'true' }}
        uses: benc-uk/workflow-dispatch@v1.2.2
        with:
          workflow: mainnet.yml
          ref: master
          repo: injectiveLabs/injective-helix
          token: "${{ secrets.HELIX_GH_TOKEN }}"

      - name: Deploy explorer
        if: ${{ env.SKIP_DEPLOYMENTS != 'true' }}
        uses: benc-uk/workflow-dispatch@v1.2.2
        with:
          workflow: mainnet.yaml
          ref: master
          repo: injectiveLabs/injective-explorer
          token: "${{ secrets.EXPLORER_GH_TOKEN }}"

      - name: Rebuild Hub
        if: ${{ env.SKIP_DEPLOYMENTS != 'true' }}
        uses: benc-uk/workflow-dispatch@v1.2.2
        with:
          workflow: mainnet.yml
          ref: master
          repo: injectiveLabs/injective-hub
          token: "${{ secrets.HUB_GH_TOKEN }}"

      - name: Deploy Trading UI (mainnet)
        if: ${{ env.SKIP_DEPLOYMENTS != 'true' }}
        uses: benc-uk/workflow-dispatch@v1.2.2
        with:
          workflow: mainnet.yml
          ref: master
          repo: injectiveLabs/injective-dmm-v2
          token: "${{ secrets.TRADING_UI_GH_TOKEN }}"

      - name: Deploy Admin UI (mainnet)
        if: ${{ env.SKIP_DEPLOYMENTS != 'true' }}
        uses: benc-uk/workflow-dispatch@v1.2.2
        with:
          workflow: mainnet.yml
          ref: master
          repo: injectiveLabs/injective-admin-ui
          token: "${{ secrets.ADMIN_UI_GH_TOKEN }}"
