name: Injective list - Generate data

on:
  workflow_dispatch:
  schedule:
    - cron: "*/15 * * * *"
  push:
    branches:
      - master

jobs:
  generate:
    if: ${{ github.event.head_commit == null || !contains(github.event.head_commit.message, 'generate json files') }}
    name: "Regenerate JSON files"
    runs-on: blacksmith-8vcpu-ubuntu-2204
    permissions: write-all
    env:
      ## Github Actions
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
      CLOUD_FLARE_API_KEY: ${{ secrets.CLOUD_FLARE_API_KEY }}
      CLOUD_FLARE_ACCOUNT_ID: ${{ secrets.CLOUD_FLARE_ACCOUNT_ID }}
      CLOUD_FLARE_ACCOUNT_HASH: ${{ secrets.CLOUD_FLARE_ACCOUNT_HASH }}
      ALCHEMY_KEY: ${{ secrets.ALCHEMY_KEY }}
      ALCHEMY_SEPOLIA_KEY: ${{ secrets.ALCHEMY_SEPOLIA_KEY }}
      MAINNET_FEE_PAYER: ${{ secrets.MAINNET_FEE_PAYER }}
      TESTNET_FEE_PAYER: ${{ secrets.TESTNET_FEE_PAYER }}
      DEVNET_FEE_PAYER: ${{ secrets.DEVNET_FEE_PAYER }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          token: "${{ secrets.GH_TOKEN }}"
      - run: |
          git reset --hard origin/master

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.18.1

      - name: Install dependencies
        run: cd src && pnpm i

      - name: Generate tokens
        if: ${{ !contains(github.event.head_commit.message, 'fast deploy') }}
        run: cd src && pnpm run generate:tokens

      - name: Generate validators
        if: ${{ !contains(github.event.head_commit.message, 'fast deploy') }}
        run: cd src && pnpm run generate:validators

      - name: Generate market slugs
        if: ${{ !contains(github.event.head_commit.message, 'fast deploy') }}
        run: cd src && pnpm run generate:slugs

      - name: Generate wasm messages
        if: ${{ !contains(github.event.head_commit.message, 'fast deploy') }}
        run: cd src && pnpm run generate:wasm

      - name: Generate verified denoms
        if: ${{ !contains(github.event.head_commit.message, 'fast deploy') }}
        run: cd src && pnpm run generate:verifiedDenoms

      - name: Generate restriction list
        if: ${{ !contains(github.event.head_commit.message, 'fast deploy') }}
        run: cd src && pnpm run generate:restriction

      - name: Generate swap routes
        if: ${{ !contains(github.event.head_commit.message, 'fast deploy') }}
        run: cd src && pnpm run generate:swap:routes

      - name: Generate Evm tokens
        if: ${{ !contains(github.event.head_commit.message, 'fast deploy') }}
        run: cd src && pnpm run generate:tokens:evm

      - name: Generate configs
        run: cd src && pnpm run generate:configs

      - name: Commit generated files
        run: |
          [ -z "$(git config user.name)" ] && git config --global user.name "GitHub Actions"
          [ -z "$(git config user.email)" ] && git config --global user.email "actions@github.com"

          git add .

          # Check if there are any changes to commit
          if [ -z "$(git status --porcelain)" ]; then
            echo "No changes to commit"
            exit 0
          fi

          if [[ "${{ contains(github.event.head_commit.message, 'skip deploy') }}" == "true" || "${{ github.event_name != 'push' }}" == "true" ]]; then
            git commit -m "chore: generate json files - skip deploy" --no-verify
          else
            git commit -m "chore: generate json files" --no-verify
          fi

          git push origin HEAD:master
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      # - name: Commit changes
      #   uses: EndBug/add-and-commit@v9
      #   if: ${{ github.event_name == 'push' && !contains(github.event.commits[0].message, 'skip deploy') }}
      #   with:
      #     message: "chore: generate json files"

      # - name: Commit changes
      #   uses: EndBug/add-and-commit@v9
      #   if: ${{ github.event_name != 'push' || contains(github.event.commits[0].message, 'skip deploy') }}
      #   with:
      #     message: "chore: generate json files - skip deploy"

  deployAws:
    if: ${{ github.event_name == 'workflow_dispatch' || (github.event_name == 'push' && !contains(github.event.head_commit.message, 'skip deploy')) }}
    name: "Deploy AWS"
    runs-on: ubuntu-latest
    needs: generate

    steps:
      - name: Sleep for 30s
        if: ${{ env.SKIP_DEPLOYMENTS != 'true' }}
        uses: juliangruber/sleep-action@v2.0.0
        with:
          time: 30s
      # This is here solely for testing and running this action locally with ACT - it shouldn't be needed for running on github as the images in gh actions should already have the AWS CLI installed
      - name: Install Act dependencies
        if: ${{ env.ACT }}
        run: |
          apt-get update && apt-get install sudo -y && apt-get install wget -y && apt-get install unzip -y

      - name: Install AWS if running locally
        if: ${{ env.ACT }}
        uses: unfor19/install-aws-cli-action@v1
        with:
          version: 2 # default
          verbose: true # default
          arch: amd64 # allowed values: amd64, arm64

      - name: Checkout with retry
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          fetch-depth: 2
          token: ${{ secrets.GH_TOKEN }}

      - name: Setup AWS CLI
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Sync files to S3 bucket
        run: |
          aws s3 sync json s3://injective-lists/json --delete \
          --cache-control "public, max-age=31536000, s-maxage=31536000"

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"

      - name: Sleep for 60s
        if: ${{ env.SKIP_DEPLOYMENTS != 'true' }}
        uses: juliangruber/sleep-action@v2.0.0
        with:
          time: 60s

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"

  deployAwsStaging:
    if: ${{ github.event_name == 'workflow_dispatch' || (github.event_name == 'push' && !contains(github.event.head_commit.message, 'skip deploy')) }}
    name: "Deploy AWS Staging"
    runs-on: ubuntu-latest
    needs: generate

    steps:
      - name: Sleep for 30s
        uses: juliangruber/sleep-action@v2.0.0
        with:
          time: 30s

      - name: Install Act dependencies
        if: ${{ env.ACT }}
        run: |
          apt-get update && apt-get install sudo -y && apt-get install wget -y && apt-get install unzip -y

      - name: Install AWS if running locally
        if: ${{ env.ACT }}
        uses: unfor19/install-aws-cli-action@v1
        with:
          version: 2 # default
          verbose: true # default
          arch: amd64 # allowed values: amd64, arm64

      - name: Checkout with retry
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          fetch-depth: 2
          token: ${{ secrets.GH_TOKEN }}

      - name: Setup AWS CLI
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Sync files to S3 bucket
        run: |
          aws s3 sync json s3://injective-lists-staging/json --delete \
          --cache-control "public, max-age=31536000, s-maxage=31536000"

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ secrets.STAGING_CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"
